<!DOCTYPE HTML>

<html>

<!-- Head -->
<%- include('partials/head'); %>

<head>
  <link rel="stylesheet" href="stylesheets/test.css" />
</head>

<body>
  <div id="page-container">

    <!-- Nav -->
    <%- include('partials/nav'); %>

    <div id="alt_background"></div>

    <!-- Header -->
    <header id="header">
      <div class="logo">
        <div>
          <h1><a href="/">Testimonials</a></h1>
        </div>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="content">

        <h3>Here's What Guests Have To Say!</h3>

        <div class="comment">
          <b><%- comments[comments.length-1].name %> </b>
          <p><%- comments[comments.length-1].comment %></p>
          <p id="comment1"></p>
        </div>

        <div class="comment">
          <b><%- comments[comments.length-2].name %> </b>
          <p><%- comments[comments.length-2].comment %></p>
          <p id="comment2"></p>
        </div>

        <div class="comment">
          <b><%- comments[comments.length-3].name %> </b>
          <p><%- comments[comments.length-3].comment %></p>
          <p id="comment3"></p>
        </div>

        <form action="/add" method="POST" onsubmit="mySubmit()">
          <fieldset>
            <h3>Add Review</h3>
            <label>Name: </label>
            <input type ="text" id = 'usrName' name="user" required>
            <br><br>
            <label>Review: </label>
            <br>
            <textarea type="text" id = "comment" name="comment" rows="4" cols="50" required></textarea>
            <br><br>
            <button type ="reset">Reset</button>
            <input type="submit" value="Submit">
          </fieldset>
        </form>

      </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer'); %>

    <!-- Scripts -->
    <script src="javascripts/main.js"></script>
    <script src="javascripts/test.js"></script>
    <%- include('partials/testScript'); %>
  </div>
</body>
</html>
