<!DOCTYPE HTML>

<html>

<!-- Head -->
<%- include('partials/head'); %>

<script>
  function myDate(date) {

    var n1 = new Date(date);

    d1 = n1.getDate();
    m1 = n1.getMonth() + 1;
    y1 = n1.getFullYear();

    var newDate = innerHTML = (d1 + "/" + m1 + "/" + y1);
    console.log(newDate);

    return newDate;
  }
</script>

<head>
  <link rel="stylesheet" href="stylesheets/test.css" />
</head>

<body>
  <div id="page-container">

    <!-- Nav -->
    <%- include('partials/nav'); %>

    <div id="alt_background"></div>

    <!-- Header -->
    <header id="header">
      <div class="logo">
        <div>
          <h1><a href="/">Testimonials</a></h1>
        </div>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="content">

        <h3>Here's What Guests Have To Say!</h3>

        <% var int %>

        <% for (int = 0; int < comments.length ; int++) { %>
          <div class="comment">
            <b><%= comments[int].name %> </b>
            <p><%= comments[int].comment %></p>
            <p><script> document.write(myDate("<%= comments[int].addedDate %>"))</script></p>
          </div>
          <% } %>

          <form action="/add" method="POST" onsubmit="mySubmit()">
            <fieldset>
              <h3>Add Review</h3>
              <label>Name: </label>
              <input type ="text" id = 'usrName' name="user" required>
              <br><br>
              <label>Review: </label>
              <br>
              <textarea type="text" id = "comment" name="comment" rows="4" cols="50" required></textarea>
              <br><br>
              <button type ="reset">Reset</button>
              <input type="submit" value="Submit">
            </fieldset>
          </form>

        </div>
      </section>

      <!-- Footer -->
      <%- include('partials/footer'); %>

      <!-- Scripts -->
      <script src="javascripts/main.js"></script>
      <script src="javascripts/test.js"></script>
      <%- include('partials/testScript'); %>
    </div>
  </body>
  </html>
